body {
    background-color: #FC5130;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
    padding-top: 15px;
}

.card-text {
    padding: 0px;
    color: white;
    background-color: #303036;
    text-align: center;
}